---
import Layout from "../layouts/Layout.astro";
import Text from "../components/ui/Text.astro";
---

<Layout title="404">
  <main
    class="bg-cream flex items-center justify-center flex-col pt-[100px] mb-[200px]"
  >
    <h3 class="font-bold text-2xl md:text-3xl">Under Maintenance!!</h3>
    <Text class="text-center w-[300px] pt-[20px] md:text-lg md:w-[400px]">
      Sorry, the page you're looking for is currently under maintenance and will
      be back soon.
    </Text>
    <img
      class="object-cover pt-[40px] w-[375px] h-[350px] md:w-[600px] md:h-[500px] lg:w-[1100px] lg:h-[800px]"
      src="/imgs/404.png"
      alt="404"
    />
  </main>
</Layout>
