---
import Layout from '../layouts/Layout.astro';
import Button from '../components/ui/Button.astro';
import Text from '../components/ui/Text.astro';
import Programs from '../components/home/Programs.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Welcome to Astro.">
	<main class="bg-cream">
		<section class="flex flex-col items-center justify-center h-[600px] bg-[url('/imgs/bg/home-bg-phone.png')] bg-cover bg-center ">
			<h3 class="text-white text-[25px] text-center">Illuminating Young  Minds, Transforming Futures</h3>
			<Text class="text-white pt-[30px] text-center w-[243px]">Welcome to Altruistech Luminary Center. We shine the light of creativity at every dark corner and on every young person in Sierra Leone</Text>
			<Button  class="mt-[30px]">Get Involved</Button>
		</section>

		<div class="flex flex-col items-center pt-[60px]"> 
		<h3 class="text-[28px] font-medium text-center">Who we are</h3>
		<Text class="text-black text-center w-[300px] pt-[25px]">Altruistech Luminary Center is an independent Non-Profit Organization dedicated to transforming the educational landscape of Sierra Leone by focusing on S.T.E.M. and environmental sustainability education.</Text>
		<img
		src="/imgs/img-1.png"
		alt="altruistech"	
		class="object-cover pt-[63px]"
		/>
	</div>

		<div class="flex flex-col items-center pt-[60px]"> 
		<h3 class="text-[28px] font-medium text-center">Our Aim</h3>
		<Text class="text-black text-center w-[300px] pt-[25px]">We aim to light up every dark corner with the power of creativity and knowledge, empowering every young person in Sierra Leone to unlock their potential and make impactful changes in their communities and beyond.</Text>
		</div>

		<div class="flex flex-col items-center pt-[60px]"> 
		<h3 class="text-[28px] font-medium text-center">Our Vision</h3>
		<Text class="text-black text-center w-[300px] pt-[25px]">We envision being a beacon of innovation and learning that illuminates paths out of poverty and global issues through STEM education and fosters a generation of leaders equipped to solve global challenges through local action.</Text>
		</div>


		<div class="mt-[103px] bg-blue h-[146px] flex items-center justify-center">
			<h1 class="text-center text-white w-[295px] font-medium text-[28px]">Our Initiatives, Projects & Programs</h1>
		</div>
		<img
		src="/imgs/img-2.png"
		alt="altruistech"	
		class="object-cover "
		/>

		<section>
			<Programs
			title="Primary Education Programs"
			headingNo="1"
			firstText="This is specifically designed for children aged 5-9 in Sierra Leone, aiming to lay a strong foundation in STEM education from an early age."
			secondText="Through interactive and engaging teaching methods, this program introduces young learners to concepts of basic science, technology, engineering, and mathematics. "
			/>

			<Programs
			headingNo="2"
			title="Tertiary Education Programs (Universities)"
			firstText="The Tertiary Education Programs at Altruistech Luminary Center are designed to support university students in Sierra Leone, enhancing their academic and professional prospects in STEM fields. "
			secondText="This program aims to bridge the gap between university curricula and the evolving demands of the global tech and science sectors."
			class="mt-[60px]"
			/>

			<Programs
			headingNo="3"
			title="Secondary Education Programs (School Clubs)"
			firstText="This is a four-month (theory of STEM innovation and design thinking, practical training, mentorship phase, solution building, and pitching) of hands-on STEM experiences that spark confidence, enhance knowledge, improve mindsets, and promote effective learning habits. "
			secondText="This project aims to inspire youth and young people to inhabit a scientific and critical thinking mindset through experimentation in robot design, production, real-life problem solving, and programming in the context of a global STEM learning and robotics program."
			class="mt-[60px]"
			/>
			<Programs
			headingNo="4"
			title="Altruistech For Refugees and Local Communities"
			firstText="The Altruistech For Refugees and Local Communities program is a targeted initiative designed to extend educational opportunities in STEM to children and youths who are not currently attending school or lack access to quality education. "
			secondText="This program specifically aims to reach the most marginalized groups, including refugees and members of local communities whom conventional educational systems have traditionally underserved."
			class="mt-[60px]"
			/>
			<Programs
			headingNo="5"
			title='First Lego League - Sierra Leone'
			firstText='Together with Coderina Education Technology Foundation, Sierra Leone Ministry of Education, Ministry Of ICT, The First Global brand, and the National Commission for Children Sierra Leone, we are the first and only authorized innovation center that organizes the First Lego League championships in Sierra Leone.'
			secondText=''
			class="mt-[60px]"
			/>
		</section>

	<section class="mt-[150px] flex flex-col items-center">
		<h3 class="text-[28px] text-blue font-medium">Sign up your school</h3>
		<p class="max-w-[274px] text-center text-blue my-[7px]">If you would like to take part in one of our programs, please enter your contact details. </p>

		<form class="mt-[15px] space-y-[37px] items-center flex flex-col">
			<div class="flex flex-col">
				<label for="name" class="text-blue text-[15px]">Your name</label>
				<input type="text" id="name" name="name" class="bg-white rounded-[3px] border-[0.17px] border-black w-[314px] h-[40px] focus-visible:outline-none pl-3 focus-visible:ring-[1px] focus-visible:ring-blue" />
			</div>
			<div class="flex flex-col">
				<label  class="text-blue text-[15px]">School Name</label>
				<input type="text" id="school-name" class="bg-white rounded-[3px] border-[0.17px] border-black w-[314px] h-[40px] focus-visible:outline-none pl-3 focus-visible:ring-[1px] focus-visible:ring-blue"  />
			</div>

			<div class="flex flex-col">
				<label  class="text-blue text-[15px]">Email</label>
				<input type="text" id="email" class="bg-white rounded-[3px] border-[0.17px] border-black w-[314px] h-[40px] focus-visible:outline-none pl-3 focus-visible:ring-[1px] focus-visible:ring-blue" />
			</div>

			<div class="flex flex-col">
				<label  class="text-blue text-[15px]">Phone Number</label>
				<input type="text" id="phone number" class="bg-white rounded-[3px] border-[0.17px] border-black w-[314px] h-[40px] focus-visible:outline-none pl-3 focus-visible:ring-[1px] focus-visible:ring-blue"  />
			</div>

			<Button>Send</Button>
		</form>
	</section>

	<section class="mt-[182px] flex items-center flex-col pb-[130px]">
		<h3 class="text-[28px] text-center max-w-[300px] ">Our Sponsors and Partners</h3>
		<div class="pt-[36px] space-y-[40px]">
			<img
			src="/imgs/coderina.png"
			alt="altruistech"	
			class="object-cover "
			/>

			<img
			src="/imgs/ncc.png"
			alt="altruistech"	
			class="object-cover "
			/>

			<p class="font-medium text-center text-[19px]">Zainab Jalloh Foundation</p>
		</div>
	</section>
	</main>
	<Footer/>
</Layout>

<style>
	
	
		
	
</style>
