---
import Layout from "../layouts/Layout.astro";
import Text from "../components/ui/Text.astro";
---

<Layout title="Our Values">
  <main class="bg-cream">
    <div class="">
      <div
        class="h-[600px] lg:h-[900px] bg-blue md:flex md:flex-row-reverse lg:items-center lg:justify-center"
      >
        <img
          class="object-cover lg:h-[750px] lg:w-[700px]"
          alt="hero-img"
          src="/imgs/values.png"
        />
        <div class="pl-[30px]">
          <h3 class="text-white text-[40px] md:pt-[200px]">
            Our Values & Inspiration
          </h3>
          <Text
            class="text-left text-white md:text-[18px] md:w-[700px] hidden lg:block"
            >These values guide every aspect of Altruistech Luminary Center's
            operations, shaping our programs, influencing our community
            interactions, and defining our goals.
          </Text>
          <Text
            class="text-left text-white pt-[20px] md:text-[18px] md:w-[700px] hidden lg:block"
            >Each value reflects our deep commitment to creating a brighter
            future for the youth of Sierra Leone through education and
            innovation.</Text
          >
        </div>
      </div>
    </div>

    <div class="pt-[50px] flex items-center flex-col lg:hidden">
      <Text class="text-center md:text-[16px] md:w-[700px]"
        >These values guide every aspect of Altruistech Luminary Center's
        operations, shaping our programs, influencing our community
        interactions, and defining our goals.
      </Text>
      <Text class="text-center pt-[20px] md:text-[16px] md:w-[700px]"
        >Each value reflects our deep commitment to creating a brighter future
        for the youth of Sierra Leone through education and innovation.</Text
      >

      <img class="object-cover mt-[40px]" src="/imgs/people/karim-1.png" />
    </div>

    <section
      class="flex items-center justify-center py-[50px] lg:space-x-[100px] lg:items-start relative"
    >
      <div class="gap-[70px] flex flex-col">
        <div
          class="flex flex-col items-center lg:items-start w-[350px] md:w-[400px]"
        >
          <h3 class="font-medium text-[18px]">Innovation</h3>
          <Text class="text-center pt-[20px] md:text-[16px] lg:text-left"
            >At the heart of Altruistech is the drive to innovate, to think
            outside the box, and to bring new solutions to old problems. We're
            inspired by the incredible potential of technology and creativity to
            transform lives and communities, especially in addressing
            environmental challenges and advancing STEM education.</Text
          >
        </div>

        <div
          class="flex flex-col items-center lg:items-start w-[350px] md:w-[400px]"
        >
          <h3 class="font-medium text-[18px]">Empowerment</h3>
          <Text class="text-center pt-[20px] md:text-[16px] lg:text-left"
            >We value the ability to empower the youth of Sierra Leone,
            equipping them with the skills and knowledge they need to succeed.
            Our inspiration comes from the belief that every young person has
            the potential to make a significant impact if given the right tools
            and opportunities.</Text
          >
        </div>

        <div
          class="hidden lg:block lg:w-[170px] lg:bg-blue h-[2px] absolute top-[50%] right-[47%]"
        >
        </div>

        <div
          class="flex flex-col items-center lg:items-start w-[350px] md:w-[400px]"
        >
          <h3 class="font-medium text-[18px]">Sustainability</h3>
          <Text class="text-center pt-[20px] md:text-[16px] lg:text-left"
            >Sustainable practices are essential to our mission, reflecting our
            commitment to responsible stewardship of environmental resources.
            This value is inspired by the urgent global need for solutions that
            support long-term ecological health and community well-being.</Text
          >
        </div>
      </div>

      <img
        class="object-contain mt-[40px] hidden lg:block w-[605px] h-[511px]"
        src="/imgs/people/karim-1.png"
      />
    </section>

    <section
      class="flex flex-col items-center justify-center lg:flex-row md:pb-[80px] lg:space-x-[100px] relative"
    >
      <img
        class="object-cover mt-[40px] hidden lg:block w-[605px] h-[511px]"
        src="/imgs/values-2.png"
      />
      <div class="gap-[70px] flex flex-col">
        <div
          class="flex flex-col items-center lg:items-start w-[350px] md:w-[400px]"
        >
          <h3 class="font-medium text-[18px] lg:text-left">Inclusivity</h3>
          <Text class="text-center pt-[20px] md:text-[16px] lg:text-left"
            >Ensuring that everyone, regardless of gender, economic status, or
            background, has access to quality education is fundamental to our
            approach. This value is inspired by a vision of a more equitable
            world where all can learn and contribute to society.</Text
          >
        </div>
        <div
          class="hidden lg:block lg:w-[170px] lg:bg-orange h-[2px] absolute top-[40%] right-[37%]"
        >
        </div>

        <div
          class="flex flex-col items-center lg:items-start w-[350px] md:w-[400px]"
        >
          <h3 class="font-medium text-[18px] lg:text-left">Collaboration</h3>
          <Text class="text-center pt-[20px] md:text-[16px] lg:text-left"
            >We believe in the power of collaboration, working together with
            communities, educators, industry partners, and international
            organizations. This stems from the understanding that complex
            problems like climate change and educational disparities require
            solving joint efforts effectively.</Text
          >
        </div>
      </div>
    </section>
  </main>
</Layout>
