---
import Text from '../../components/ui/Text.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Primary Education Programs">
    <main class="bg-cream">
        
              <div class="  h-[600px] lg:h-[450px] bg-[url('/imgs/bg/bg-3.png')]  bg-cover bg-center">   
                  <!-- <h3 class="text-white pl-5 font-medium text-[51px] w-[320px] md:w-full md:pl-[30px] pt-[210px] lg:pt-[210px]  lg:pl-[180px]">Altruistech For Refugees and Local Communities</h3>  -->
            </div>

            <div class="flex flex-col items-center">
                <Text class="pt-[90px] text-[28px] w-[322px] text-center font-medium">What is FIRST® LEGO® league</Text>
                <Text class="text-black text-center pt-[27px]  w-[340px] md:w-[700px] md:text-[16px] lg:w-[1100px] lg:text-[20px]">FIRST® LEGO® League guides youth through STEM learning and exploration at an early age. From Discover, to Explore, and then to Challenge, students will understand the basics of STEM and apply their skills in an exciting competition while building habits of learning, confidence, and teamwork skills along the way.</Text>
                <Text class="text-black text-center pt-[48px] w-[340px] md:w-[700px] md:text-[16px] lg:w-[1100px] lg:text-[20px]">A chance to shine! Each FIRST LEGO League season culminates with a celebration where teams show off what they learned and invented, and in our oldest division, compete with their robots. Some teams earn an invitation to FIRST LEGO League World Festival as part of FIRST Championship Houston or FIRST Championship Detroit, where teams from all over the world meet and compete.</Text>
            </div>

            <div class="py-[54px] lg:flex lg:items-center lg:justify-center">
                <img
                src="/imgs/programs/lego.png"
                alt="primary-ed-img-1"
                class="object-cover w-screen lg:w-[1300px] lg:h-[593px]"
                />     
            </div>
            
            <section class="flex flex-col items-center justify-center gap-[80px] lg:gap-0 lg:flex-row">
                <div class="w-[308px] lg:w-[530px] lg:flex lg:flex-col lg:items-center">
                    <img src="/imgs/programs/lego-1.png" alt="leog-img" class="object-cover w-[308px] h-[361px] lg:w-[390px] lg:h-[600px]"/>
                    <Text class="text-black text-center pt-[12px] lg:w-[300px]">For children ages 4-6, this playful introductory STEM program ignites their natural curiosity and builds their habits of learning with hands-on activities in the classroom and at home using LEGO® DUPLO® bricks.</Text>
                </div>

                 <div class="w-[308px] lg:w-[530px] lg:flex lg:flex-col lg:items-center">
                    <img src="/imgs/programs/lego-2.png" alt="leog-img" class="object-cover w-[308px] h-[361px] lg:w-[390px] lg:h-[600px]"/>
                    <Text class="text-black text-center pt-[12px] lg:w-[300px]">In Explore, teams of students ages 6-10 focus on the fundamentals of engineering as they explore real-world problems, learn to design, and code and create unique solutions made with LEGO bricks and powered by LEGO® Education WeDo 2.0.</Text>
                </div>

                <div class="w-[308px] lg:w-[530px] lg:flex lg:flex-col lg:items-center">
                    <img src="/imgs/programs/lego-3.png" alt="leog-img" class="object-cover w-[308px] h-[361px] lg:w-[390px] lg:h-[600px]"/>
                    <Text class="text-black text-center pt-[12px] lg:w-[300px]">Friendly competition is at the heart of Challenge, as teams of students ages 9-16* engage in research, problem-solving, coding, and engineering – building and programming a LEGO robot that navigates the missions of a robot game.</Text>
                </div>
            </section>


            <div class="flex flex-col items-center justify-center pb-[120px]">

            </div>
    </main>

</Layout>