---
import Text from "../../components/ui/Text.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Primary Education Programs">
  <main class="bg-cream">
    <div
      class="h-[600px] lg:h-[450px] bg-[url('/imgs/bg/primary-ed-phone-bg.png')] lg:bg-[url('/imgs/bg/prim-ed-bg-2.png')] bg-cover bg-center"
    >
      <h3
        class="text-white pl-5 font-medium text-[51px] w-[320px] md:w-full md:pl-[30px] pt-[210px] lg:pt-[210px] lg:pl-[180px]"
      >
        Altruistech For Refugees and Local Communities
      </h3>
    </div>

    <div class="flex flex-col items-center">
      <Text
        class="text-black text-center pt-[67px] w-[340px] md:w-[700px] md:text-[16px] lg:w-[1100px] lg:text-[20px]"
        >Understanding the unique challenges faced by these groups, the program
        offers tailored educational resources and learning experiences that aim
        to ignite interest in science, technology, engineering, and mathematics.
        The curriculum includes basic to advanced lessons in computing,
        environmental science, robotics, and other critical areas of STEM,
        delivered through interactive workshops and hands-on projects that make
        learning both accessible and engaging.</Text
      >
      <div class="bg-blue w-[205px] h-[2px] mt-[48px]"></div>
      <Text
        class="text-black text-center pt-[48px] w-[340px] md:w-[700px] md:text-[16px] lg:w-[1100px] lg:text-[20px]"
        >The goal is not only to provide educational enrichment but also to
        empower these young individuals with the skills they need to improve
        their life chances and support their communities. Through education,
        Altruistech seeks to open doors to future employment opportunities and
        foster a sense of agency and participation in global and local issues,
        particularly those related to sustainability and technology.</Text
      >
    </div>

    <div class="py-[54px] lg:flex lg:items-center lg:justify-center">
      <img
        src="/imgs/programs/refugee.png"
        alt="primary-ed-img-1"
        class="object-cover w-screen lg:w-[1300px] lg:h-[593px]"
      />
    </div>

    <div class="flex flex-col items-center justify-center pb-[120px]">
      <Text
        class="text-center text-black w-[340px] md:w-[700px] md:text-[16px] lg:w-[1100px] lg:text-[20px]"
        >This program also incorporates elements of social and emotional
        learning, helping students to develop the confidence and resilience
        needed to overcome adversity. By fostering a supportive learning
        environment, Altruistech For Refugees and Local Communities helps to
        ensure that each student can thrive and contribute positively to
        society, regardless of their background.</Text
      >
    </div>
  </main>
</Layout>
